<div class="container-fluid">
    <div class="row">
        
        <!-- user profile column -->
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <% if user_signed_in? %>
                        <strong>Welcome, <%= current_user.username %>!</strong>
                    <% end %>
                </div>
                
                <p></p>
                
                <div class="panel-body">
                    <img src="https://cloud.githubusercontent.com/assets/12492121/11770333/8cf1f07a-a1c9-11e5-9cbc-01d8321a414b.png" 
                    class="img-thumbnail img-responsive" alt="User image" width="375">
                    
                    <hr class="divider-color">
                    
                    <strong><p class='js-items-count'><%= pluralize(current_user.items.count, 'Objective') %></p></strong>
                    <p>Complete your weekly objectives using the panel to the right.</p>
                    <p>1. Type an objecitve name.</p>
                    <p>2. Press <b>add</b> to add a new objecitve.</p>
                    <p>3. Press <b>complete</b> to mark an objective complete.</p>
                    <p>4. Press <b>delete</b> to delete an existing objective.</p>
                </div>
                
            </div>
        </div>
        
        <!-- user objectives column -->
        <div class="col-md-7">
            <div class="panel panel-success">
                <div class="panel-heading text-center">
                    <strong>Objectives</strong>
                </div>
                
                <p></p>
                
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="new-item">
                                <%= render partial: 'items/form', locals: { user: current_user, item: Item.new} %>
                            </div>
                        </div>
                        
                        <hr class="divider-color">
                        
                        <div class="row">
                            <strong>Current Objectives</strong>
                            <div class="items">
                                <%= render partial: 'items/item' %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>