<div class="jumbotron">
  <h1>Mission Objective</h1>
  <p>You have 7 days to complete your objectives.</p>
  <p>Incomplete objectives are terminated.</p>
  <p><strong>Failure</strong> is not an option!</p>
  <p>
    <%= link_to "Continue", new_user_session_path, class: "btn btn-success btn-text-size" %> or
    <%= link_to "Get Started", new_user_registration_path, class: "btn btn-warning btn-text-size" %> 
  </p>
</div>
