<%= form_for [user, item] do |f| %>
    <div class="form-group">
        <%= f.label :name %> <br />
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter a new objective name with a minimum of 4 characters" %>
    </div>
    <div class="actions">
        <%= f.submit "Add", class: 'btn btn-success btn-block' %>
    </div>
<% end %>
