<tr id="item-<%= item.id %>">

  <td><%= item.name %></td>
  <td>days</td>
  <td>
     <%= link_to "", [current_user, item], method: :delete, remote: true, class: " btn btn-success glyphicon glyphicon-ok-sign" %>
  </td>

</tr>

  