<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <th>Description</th>
         <th># days left</th>
         <th>Objective actions</th>
      </thead>
      <tbody>
         <% current_user.items.each do |item| %>
         <tr>
            <td><%= item.name %></td>
            <td>days</td>
            <td>
               <%= link_to "", [current_user, item], method: :delete, class: " btn btn-success glyphicon glyphicon-ok-sign" %>
            </td>
         </tr>
         <% end %>
      </tbody>
   </table>
</div>