<% if @item.destroyed? %>
  $('#item-' +<%= @item.id %>).hide();
  $('.js-items-count').html("<%= pluralize(current_user.items.count, 'Objective') %>");
<% else %>
  $('.flash').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:error] %></div>");
<% end %>