/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.container {
    margin-top: 15px;
}

.container-fluid {
    margin-top: 25px;
}

.user-in-out {
    margin: auto;
}

.dark-primary-color    { background: #455A64; } 
.default-primary-color { background: #607D8B; } 
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; } 
.accent-color          { background: #9E9E9E; } 
.primary-text-color    { color: #212121; } 
.secondary-text-color  { color: #727272; } 
.divider-color         { border-color: #B6B6B6; }